{% assign sorted-rooms = site.rooms | sort:"order" %}
{% for room in sorted-rooms %}


<!--------------------------Room split-screen-------------------->
<section class="p-0">

  <div class="grid grid-cols-2 min-h-screen">
  
         <div class="bg-center bg-cover min-h-[50vh]" style="background-image: url('{{room.banner.background-image}}')">
        </div>

       <div class="bg-beige-100/50 bg-beige flex items-end justify-start border-x p-10 {% cycle 'order-first',''%} ">
          <div class="md:m-5 p-10 max-w-md">
              <h3 class="uppercase text-xs"> {{room.subheading}}</h3>
              <h2>{{room.title}}</h2>
              <p>{{room.paragraph}}</p>
            
              <div class="grid grid-cols-2">
                <h3> {{room.nightly-price}}</h3>
                <h3> {{room.adults}} adults</h3>
                <h3> {{room.bed-type}}</h3>
                <h3> {{room.breakfast}} </h3>
                
              </div>

              <div class=" flex justify-between">
                <button class=" button-dark border border-solid px-5">{{room.button-text-1}}</button>
                <button class=" button-dark border border-solid px-5">{{room.button-text-2}}</button>
            </div>
          </div>

      </div>
  </div>
  
 </section>

 
  <section class="p-0"> 
    <div class="grid grid-cols-2 md:grid-cols-3">
  {% for item in room.gallery %}
      <div class="aspect-square bg-cover bg-center bg-cream border border-cream" style="background-image: url('{{item.image}}');"> </div>
  {% endfor %}
  
    </div>
  </section>

  {% endfor %}
